@import "tailwindcss";

@theme {
  --color-buttonB: var(--dark-blue);
  --color-buttonT: var(--white);
  --color-border: var(--sky-blue);
  --color-buttonL: var(--light-blue);
  --color-textB: var(--gray-black);
  --color-textC: var(--light-sky);
}

:root {
  --dark-blue: #043674;
  --white: #fcfefc;
  --sky-blue: #c7c6fc;
  --gray-black: #697183;
  --light-blue: #046ed4;
  --light-sky: #a4c6fc;
}

html {
  scroll-behavior: smooth;
  background-color: #fcfefc;
}
